:root {
  /* Text */
  --Text-Titre: 2rem;
  --Text-Sous-Titre: 1.5rem;
  --Text: 0.8rem;
  /* Colors */
  --Arrière-Plan: #fff;
  --Arrière-Plan-Subtile: #fff;

  --Text-color: #d61818;
  --Text-color-subtil: #2e2c2c;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--Text);
  color: var(--Text-color-subtil);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--Text-Titre);
  color: var(--Text-color);
}

h2 {
  font-size: var(--Text-Sous-Titre);
  color: var(--Text-color);
}

/* Ecran Tablette */
@media screen and (min-width:426px) {
  :root {
    --Text-Titre: 2.3rem;
    --Text-Sous-Titre: 1.8rem;
    --Text: 1rem;
  }
}
/* Ecran Laptop */
@media screen and (min-width:769px) {
  :root {
    --Text-Titre: 2.5rem;
    --Text-Sous-Titre: 2rem;
    --Text:  1.3rem;
  }
}
/* Ecran Ordinateur */
@media screen and (min-width:1025px) {
  :root {
    --Text-Titre: 2.8rem;
    --Text-Sous-Titre: 2.3rem;
    --Text: 1.5rem;
  }
}
/* Ecran Grand */
@media screen and (min-width:1441px) {
  :root {
    --Text-Titre: 3rem;
    --Text-Sous-Titre: 2.5rem;
    --Text: 1.8rem;
  }
}