:root {
  /* Text */
  --Text-Titre: 2rem;
  --Text-Sous-Titre: 1.5rem;
  --Text: 0.8rem;
  /* Colors */
  --Arriere-Plan: #F2FAFB;
  --Arriere-Plan-Subtile: #F4FAFF;

  --Arriere-Plan-composent : #E6F4FE;
  --Arriere-Plan-composent-hover : #D5EFFF;
  --Arriere-Plan-composent-selection : #C2E5FF;

  --Border-Subtil : #ACD8FC;
  --Border : #8EC8F6;
  --Border-Strong : #5EB1EF;

  --Arriere-Plan-Block: #0090FF;
  --Arriere-Plan-Block-hover: #0588F0;
  
  --Text-color: #0D74CE;
  --Text-color-subtil: #113264;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--Text);
  color: var(--Text-color);
  font-family: Arial, Helvetica, sans-serif;
}

*:hover{
  color: var(--Text-color-subtil);
  cursor: pointer;

}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

body{
  max-width: 100vw;
  background-color: var(--Arriere-Plan);
}

main{
  min-height: 80vh;
}

/* Ecran Tablette */
@media screen and (min-width:426px) {
  :root {
    --Text-Titre: 2.3rem;
    --Text-Sous-Titre: 1.8rem;
    --Text: 1rem;
  }
}
/* Ecran Laptop */
@media screen and (min-width:769px) {
  :root {
    --Text-Titre: 2.5rem;
    --Text-Sous-Titre: 2rem;
    --Text:  1.3rem;
  }
}
/* Ecran Ordinateur */
@media screen and (min-width:1025px) {
  :root {
    --Text-Titre: 2.8rem;
    --Text-Sous-Titre: 2.3rem;
    --Text: 1.5rem;
  }
}
/* Ecran Grand */
@media screen and (min-width:1441px) {
  :root {
    --Text-Titre: 3rem;
    --Text-Sous-Titre: 2.5rem;
    --Text: 1.8rem;
  }
}